body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.error{
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-width: 3.25px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
}

.success {
  color: green;
}